@font-face {
    font-family: raxon;
    src: url("/Application/Filemanager/Font/ZenDots-Regular/ZenDots-Regular.ttf");
}

section[name="application-file-manager"] .dialog {
    width: calc(100% - 250px);
    min-width: 640px;
    height: calc(100% - 100px);
    left: 200px;
    top: 50px;
}

section[name="application-file-manager"] .dialog-new-directory {
    width: 300px;
    min-width: 300px;
    height: 150px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(200, 200, 200, 1);
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 75px);
}

section[name="application-file-manager"] .context-menu,
section[name="application-file-manager"] .context-menu-item {
    width: 350px;
    position: absolute;
    background: rgba(33, 33, 33, 1);
    border-radius: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgba(39, 170, 255, 1);
    box-shadow: 2px 2px rgba(39, 170, 255, 0.5);
}

section[name="application-file-manager"] .context-menu table,
section[name="application-file-manager"] .context-menu-item table {
    margin: 0;
    padding: 0;
    width: 100%;
}

section[name="application-file-manager"] .context-menu tr td,
section[name="application-file-manager"] .context-menu-item tr td {
    padding-left: 5px;
    padding-right: 5px;
    color: rgba(255, 255, 255, 1);
    cursor: default;
}

section[name="application-file-manager"] .context-menu h3,
section[name="application-file-manager"] .context-menu-item h3 {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid rgba(39, 170, 255, 1);
    color: rgba(39, 170, 255, 1);
    font-family: raxon;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
}

section[name="application-file-manager"] .context-menu h3 i.icon,
section[name="application-file-manager"] .context-menu-item h3 i.icon {
    color: rgba(255, 0, 0, 0.6);
    float: right;
    font-size: 28px;
    margin-top: 4px;
}

section[name="application-file-manager"] .context-menu h3 i.icon:hover,
section[name="application-file-manager"] .context-menu-item h3 i.icon:hover {
    color: rgba(255, 0, 0, 1);
}

section[name="application-file-manager"] .context-menu tr.header th {
    padding: 0;
    border-radius: 5px;
    border-top-right-radius: 25px;
    margin-bottom: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 33, 177, 0.4));
    background-image: linear-gradient(rgba(255, 124, 13, 0.2), rgba(0, 33, 177, 0.4));
}

section[name="application-file-manager"] .context-menu-item tr.header td {
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border-top-right-radius: 25px;
    margin-bottom: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 33, 177, 0.4));
    background-image: linear-gradient(rgba(255, 124, 13, 0.2), rgba(33, 33, 33, 0.5));
}

section[name="application-file-manager"] .context-menu tr td:hover,
section[name="application-file-manager"] .context-menu-item tr td:hover {
    color: rgba(39, 170, 255, 1);
}

section[name="application-file-manager"] .context-menu tr.divider,
section[name="application-file-manager"] .context-menu-item tr.divider {
    border-top: 1px solid rgba(39, 170, 255, 1);
    border-top: 1px solid rgba(255, 124, 13, 1);
    height: 0;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

section[name="application-file-manager"] .context-menu tr .icon,
section[name="application-file-manager"] .context-menu-item tr .icon {
    margin-right: 10px;
}

section[name="application-file-manager"] .context-menu .keyboard-shortcut,
section[name="application-file-manager"] .context-menu-item .keyboard-shortcut {
    border: 1px solid rgba(39, 170, 255, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px;
    margin-right: 10px;
    font-variant: all-small-caps;
    font-size: 10pt;
    font-family: raxon;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    text-align: center;
    min-width: 80px;
    display: inline-block;
}

section[name="application-file-manager"] .context-menu .header .keyboard-shortcut {
    min-width: 40px;
}

section[name="application-file-manager"] .context-menu tr .keyboard-shortcut:hover,
section[name="application-file-manager"] .context-menu tr .keyboard-shortcut.active,
section[name="application-file-manager"] .context-menu-item tr .keyboard-shortcut:hover,
section[name="application-file-manager"] .context-menu-item tr .keyboard-shortcut.active {
    color: rgba(255, 124, 13, 1);
}



section[name="application-file-manager"] .menu-application-file-manager {
    background: rgba(225, 225, 225, 1);
    border-top: 1px solid rgba(200, 200, 200, 1);
    height: 19px;
    width: 100%;
    overflow: hidden;
    cursor: default;
}

section[name="application-file-manager"] .menu-application-file-manager ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section[name="application-file-manager"] .menu-application-file-manager li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(200, 200, 200, 1);
    cursor: pointer;
}

section[name="application-file-manager"] .menu-application-file-manager li.active {
    background: rgba(255, 124, 13, 1);
}

section[name="application-file-manager"] .menu-application-file-manager li .close:hover {
    color: rgba(255, 0, 0, 1);
}

section[name="application-file-manager"] .menu-application-file-manager li .has-changed {
    margin-left: 10px;
}

section[name="application-file-manager"] .body {
    /*
    background: rgba(255, 255, 255, 1);
     */
    height: calc(100% - 120px);
    width: 100%;
    overflow: auto;
}

section[name="application-file-manager"] .dialog-new-directory .body {
    height: 60px;
}

section[name="application-file-manager"] .dialog-new-directory .body input[type="text"] {
    width: calc(100% - 10px);
    height: 30px;
    font-size: 12pt;
    margin: 0;
    padding: 5px;
}

section[name="application-file-manager"] .dialog-new-directory .body button[name="ok"] {
    width: 50%;
}

section[name="application-file-manager"] .dialog-new-directory .body button[name="cancel"] {
    width: 50%;
}

section[name="application-file-manager"] .body .loading {
    text-align: center;
    height: 150px;
    margin: 75px;
    padding: 0;
}

section[name="application-file-manager"] .body .loading i {
    font-size: 256px;
    color: rgba(255, 124, 13, 1);
}

section[name="application-file-manager"] .body .loading span {
    display: inline-block;
    margin-top: 10px;
}

section[name="application-file-manager"] .body div.tree {
    width: 300px;
    height: calc(100% - 30px);
    overflow: auto;
    background: rgba(32, 60, 150, 0.6);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 33, 177, 0.4));
    float: left;
}

section[name="application-file-manager"] .body div.tree ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    /*
    background: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 33, 177, 0.4));
     */
    /*
    border-right: 2px solid rgba(255, 124, 13, 1);
     */
    /*
    width: calc(100% - 20px);
    height: 100%;
     */
}

section[name="application-file-manager"] .body div.tree ul p {
    margin: 0;
    clear: both;
    white-space: nowrap;
}

section[name="application-file-manager"] .body div.tree p {
    width: 100%;
    box-sizing: border-box;
}

section[name="application-file-manager"] .body div.tree li {
    /*
    background: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 33, 177, 0.4));
     */
    padding: 2px;
    color: rgba(255, 255, 255, 1);
}

section[name="application-file-manager"] .body div.tree li.active .name {
    /*
    background: rgba(200, 226, 230, 1);
     */
    background: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 33, 177, 0.4));
    color: rgba(255, 124, 13, 1);
    border-radius: 10px;
    border-top: 1px solid rgba(39, 170, 255, 1);
    border-bottom: 1px solid rgba(39, 170, 255, 1);
}

section[name="application-file-manager"] .body div.tree .name {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
}

section[name="application-file-manager"] .body div.tree .name form {
    display: inline;
}

section[name="application-file-manager"] .body div.tree .name input {
    margin: 0;
    border: 1px solid rgba(200, 226, 230, 1);
    background: rgba(200, 226, 230, 1);
}

section[name="application-file-manager"] .body div.tree .name.error {
    border: 1px solid rgba(255, 0, 0, 1);
}

section[name="application-file-manager"] .body div.tree .has-sub-dir {
    display: inline-block;
    width: 20px;
}

section[name="application-file-manager"] .body div.tree .icon {
    margin-right: 5px;
}

section[name="application-file-manager"] .body .address-bar {
    width: 100%;
    height: 30px;
}

section[name="application-file-manager"] .body .address-bar .left {
    float: left;
    width: 290px;
    padding-left: 5px;
    padding-right: 3px;
    height: 30px;
    background: rgba(235, 235, 235, 1);
    /*
    border-right: 2px solid rgba(255, 124, 13, 1);
     */
}

section[name="application-file-manager"] .body .address-bar .middle {
    float: left;
    width: calc(100% - 300px);
    height: 30px;
    background: rgba(235, 235, 235, 1);
}

section[name="application-file-manager"] .body .address-bar .middle input[name="address"] {
    margin-top: 1px;
    height: 20px;
    width: calc(80% - 54px);
    margin-left: 4px;
}

section[name="application-file-manager"] .body .address-bar .middle button.button-up {
    width: 28px;
    margin-left: 1px;
    margin-right: 1px;
}

section[name="application-file-manager"] .body .address-bar .middle input[name="search"] {
    margin-top: 1px;
    height: 20px;
    width: 15%;
}

section[name="application-file-manager"] .body .address-bar .middle input[name="speech"] {
    margin-top: 1px;
    height: 20px;
    width: 5%;
}

section[name="application-file-manager"] .body .list {
    width: calc(100% - 300px);
    height: calc(100% - 30px);
    overflow: auto;
    float: left;
    background: rgba(32, 60, 150, 0.6);
    position: relative;
}

section[name="application-file-manager"] .body .list.has-upload {
    height: calc(100% - 280px);
}

section[name="application-file-manager"] .body .list.has-microphone {
    width: calc(100% - 620px);
}

section[name="application-file-manager"] .body .list.has-search {
    display: none;
}

section[name="application-file-manager"] .list ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
}

section[name="application-file-manager"] .list li {
    float: left;
    padding: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 33, 177, 0.4));
    background: rgba(32, 60, 150, 0.6);
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    margin-top: 1px;
    margin-bottom: 1px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

section[name="application-file-manager"] .list li.selected {
    border-top: 1px solid rgba(255, 124, 13, 1);
    border-bottom: 1px solid rgba(255, 124, 13, 1);
}

section[name="application-file-manager"] .list li.icon {
    clear: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 20px;
    margin-left: 10px;
}

section[name="application-file-manager"] .list li.name {
    min-width: 150px;
}

section[name="application-file-manager"] .list li.size {
    clear: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 10px;
    padding-right: 20px;
}

section[name="application-file-manager"] .list li.header {
    position: sticky;
    top: 0;
    background-image: linear-gradient(rgba(225, 225, 225, 0.5), rgba(0, 33, 177, 0.4));
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

section[name="application-file-manager"] .body .list thead {
    font-weight: normal;
    font-size: 12px;
}

section[name="application-file-manager"] .body .list thead th {
    background: rgba(235, 235, 235, 1);
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
section[name="application-file-manager"] .body .list table td {
    text-overflow: ellipsis;
    white-space: nowrap;
}

section[name="application-file-manager"] .body .list table td.icon {
    width: 25px;
    text-align: center;
}

section[name="application-file-manager"] .body .list table tr.selected {
    background: rgba(200, 226, 230, 1);
}

section[name="application-file-manager"] .body .search {
    width: calc(100% - 310px);
    height: calc(100% - 110px);
    overflow: auto;
    background: linear-gradient(rgba(255, 124, 13, 0), rgba(255, 124, 13, 1));
    background: linear-gradient(rgba(255, 124, 13, 0.2), rgba(55, 25, 63, 1));
    float: left;
    padding: 5px;
    border: 0;
    border-top: 2px solid rgba(255, 124, 13, 1);
    position: absolute;
    top: 110px;
    left: 300px;
}

section[name="application-file-manager"] .body .microphone-options {
    width: 320px;
    height: calc(100% - 30px);
    overflow: auto;
    background: linear-gradient(rgba(255, 124, 13, 0), rgba(255, 124, 13, 1));
    background: linear-gradient(rgba(255, 124, 13, 0.2), rgba(55, 25, 63, 1));
    float: left;
    border: 0;
}

section[name="application-file-manager"] .body .upload {
    width: calc(100% - 310px);
    height: 250px;
    overflow: auto;
    background: linear-gradient(rgba(255, 124, 13, 0), rgba(255, 124, 13, 1));
    background: linear-gradient(rgba(255, 124, 13, 0.2), rgba(55, 25, 63, 1));
    float: left;
    padding: 5px;
    border: 0;
    border-top: 2px solid rgba(255, 124, 13, 1);
}

section[name="application-file-manager"] .footer .item {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(200, 200, 200, 1);
    display: inline-block;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

section[name="application-file-manager"] .footer .size {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(200, 200, 200, 1);
    display: inline-block;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dialog .dropzone .dz-preview.dz-file-preview .dz-image {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(39, 170, 255, 0.7);
    box-shadow: 2px 2px rgba(39, 170, 255, 0.5);
}

.dialog .dropzone .dz-preview .dz-details .dz-filename span,
.dialog .dropzone .dz-preview .dz-details .dz-size span {
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    margin-top: 10px;
    display: inline-block;
}

.dialog .dropzone .dz-preview .dz-details .dz-filename:hover span {
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.3);
}

.dialog .dropzone .dz-preview .dz-progress .dz-upload {
    background-image: linear-gradient(rgba(0, 33, 177, 0.4), rgba(39, 170, 255, 0.6));
}

.dialog .dropzone .dz-preview .dz-progress {
    background-color: rgba(0, 0, 0, 0.3);
}